include README.md LICENSE
global-include CMakeLists.txt *.cmake
exclude initial_cache.cmake
recursive-include 3rdparty/cereal/include *
recursive-include 3rdparty/eigen/Eigen *
recursive-include 3rdparty/eigen3-nnls/src *.h
recursive-include 3rdparty/glm/glm *
recursive-include 3rdparty/nanoflann/include *
recursive-include 3rdparty/pybind11 *
recursive-include include *
recursive-include python *
